.page-header .header-right a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;
    padding: 12px;
    text-decoration: none;
    color: black;
    background-size:automatic;
    background-color: darkslategray;
    border-radius: 20px;
    color: white;
}

.page-header .header-right a:hover{
    color: white;
    background-color: rgb(30, 49, 49);
}

.page-header .header-right .center-ico {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    color: white;
    background-color: darkslategray;
}

.page-header .title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    background-color: darkslategray;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    color: white;
}

.page-header {
    background-image: url("https://assets.aboutamazon.com/dims4/default/d1ea475/2147483647/strip/true/crop/1999x1125+1+0/resize/1320x743!/format/webp/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F2e%2F81%2F088b76374e519bd6f28831fa613d%2Fborneo-rainforest-shusto-1474114256.jpg");
    background-position-x: center;
    background-position-y: 80%;
    background-size: cover;
    bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

body {
    background-color: darkolivegreen;
}

.mammalbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .mammals {
    position: relative;
    display: inline-block;
  }
  
  .mammal-dropdown {
    display: none;
    position: absolute;
    background-color: #363636;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .mammal-dropdown a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .mammal-dropdown a:hover {background-color: #181818}
  
  .mammals:hover .mammal-dropdown {
    display: block;
  }
  
  .mammals:hover .mammalbtn {
    background-color: #3e8e41;
  }

  .mammalbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .mammals {
    position: relative;
    display: inline-block;
  }
  
  .mammal-dropdown {
    display: none;
    position: absolute;
    background-color: #363636;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .mammal-dropdown a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .mammal-dropdown a:hover {background-color: #181818}
  
  .mammals:hover .mammal-dropdown {
    display: block;
  }
  
  .mammals:hover .mammalbtn {
    background-color: #3e8e41;
  }



  .mammalbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .mammals {
    position: relative;
    display: inline-block;
  }
  
  .mammal-dropdown {
    display: none;
    position: absolute;
    background-color: #363636;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .mammal-dropdown a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .mammal-dropdown a:hover {background-color: #181818}
  
  .mammals:hover .mammal-dropdown {
    display: block;
  }
  
  .mammals:hover .mammalbtn {
    background-color: #3e8e41;
  }



  .mammalbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .mammals {
    position: relative;
    display: inline-block;
  }
  
  .mammal-dropdown {
    display: none;
    position: absolute;
    background-color: #363636;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .mammal-dropdown a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .mammal-dropdown a:hover {background-color: #181818}
  
  .mammals:hover .mammal-dropdown {
    display: block;
  }
  
  .mammals:hover .mammalbtn {
    background-color: #3e8e41;
  }



  .mammalbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .mammals {
    position: relative;
    display: inline-block;
  }
  
  .mammal-dropdown {
    display: none;
    position: absolute;
    background-color: #363636;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .mammal-dropdown a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .mammal-dropdown a:hover {background-color: #181818}
  
  .mammals:hover .mammal-dropdown {
    display: block;
  }
  
  .mammals:hover .mammalbtn {
    background-color: #3e8e41;
  }