.page-header .header-right a {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;
    padding: 12px;
    text-decoration: none;
    color: black;
    background-size:automatic;
    background-color: darkslategray;
    border-radius: 20px;
    color: white;}

.page-header .header-right a:hover{
    color: white;
    background-color: rgb(30, 49, 49);}

.page-header .header-right .center-ico {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: left;
    color: white;
    background-color: darkslategray;}

.page-header .title {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    background-color: darkslategray;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    color: white;}

.page-header {
    background-image: url("https://assets.aboutamazon.com/dims4/default/d1ea475/2147483647/strip/true/crop/1999x1125+1+0/resize/1320x743!/format/webp/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F2e%2F81%2F088b76374e519bd6f28831fa613d%2Fborneo-rainforest-shusto-1474114256.jpg");
    background-position-x: center;
    background-position-y: 80%;
    background-size: cover;
    bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}


body {background-color: rgb(45, 56, 25);}

  .mammalbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;}
  
  .mammals {
    position: relative;
    display: inline-block;}
  
  .mammal-dropdown {
    display: none;
    position: absolute;
    background-color: #363636;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}
  
  .mammal-dropdown a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;}
  
  .mammal-dropdown a:hover {background-color: #181818}
  
  .mammals:hover .mammal-dropdown {display: block;}
  
  .mammals:hover .mammalbtn {background-color: #3e8e41;}

  .mammalbtn {
    background: #4CAF50;
    color: rgb(59, 46, 46);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;}
  
  .mammals {position: relative; display: inline-block;}
  
  .mammal-dropdown {
    display: none;
    position: absolute;
    background-color: #363636;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}
  
  .mammal-dropdown a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;}
  
  .mammal-dropdown a:hover {background-color: #181818}
  
  .mammals:hover .mammal-dropdown {display: block;}
  
  .mammals:hover .mammalbtn {background-color: #3e8e41;}

  .reptilebtn {
    background-color: #4CAF50;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;}
  
  .reptiles {position: relative; display: inline-block;}
  
  .reptile-dropdown {
    display: none;
    position: absolute;
    background-color: #363636;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}
  
  .reptile-dropdown a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;}
  
  .reptile-dropdown a:hover {background-color: #181818}
  
  .reptiles:hover .reptile-dropdown {display: block;}
  
  .reptiles:hover .reptilebtn {background-color: #3e8e41;}

  .birdbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;}
  
  .birds {position: relative; display: inline-block;}
  
  .bird-dropdown {
    display: none;
    position: absolute;
    background-color: #363636;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}
  
  .bird-dropdown a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;}
  
  .bird-dropdown a:hover {background-color: #181818}
  
  .birds:hover .bird-dropdown {display: block;}
  
  .birds:hover .birdbtn {background-color: #3e8e41;}

  .invertebratebtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;}
  
  .invertebrates {position: relative; display: inline-block;}
  
  .invertebrate-dropdown {
    display: none;
    position: absolute;
    background-color: #363636;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}
  
  .invertebrate-dropdown a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;}
  
  .invertebrate-dropdown a:hover {background-color: #181818}
  
  .invertebrates:hover .invertebrate-dropdown {display: block;}
  
  .invertebrates:hover .invertebratebtn {
    background-color: #3e8e41;}

  .plantbtn {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;}
  
  .plants {position: relative; display: inline-block;}
  
  .plant-dropdown {
    display: none;
    position: absolute;
    background-color: #363636;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}
  
  .plant-dropdown a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;}
  
  .plant-dropdown a:hover {background-color: #181818}
  
  .plants:hover .plant-dropdown {display: block;}
  
  .plants:hover .plantbtn {background-color: #3e8e41;}

    .geographybtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;}
  
  .geography {position: relative; display: inline-block;}
  
  .geography-dropdown {
    display: none;
    position: absolute;
    background-color: #363636;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}
  
  .geography-dropdown a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;}
  
  .geography-dropdown a:hover {background-color: #181818}
  
  .geography:hover .geography-dropdown {display: block;}
  
  .geography:hover .geographybtn {background-color: #3e8e41;}

  .anything {
    color: red;
    
  }

.dropdown-bar {
background-color: darkslategrey;
padding-top: 3px;
padding-bottom: 3px;
}

#sidebars {
background-position: 50px;
}

.main-title {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}

.welcome {
  margin-top: 0px;
  padding-top: 50px;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

.home-title {
  background-image: url("https://amazonaid.org/wp-content/uploads/2017/07/rainforest2.jpg");
  background-size: cover;
  background-position: 50%;
  color: white;
}

.title-blur {
  border-left: 2px solid black;
  border-right: 2px solid black;
  width: 70%;
  backdrop-filter: blur(3px);
  margin-left: auto;
  margin-right: auto;
  height: 860px;
}

.mammals .birds .reptiles .plants .geography .invertebrates{
  margin-left: auto;
  margin-right: auto;
}